<header class="w-full bg-azul-mui p-5 flex justify-between">
  <h1 class="text-branco text-center">Mesas</h1>
  <button mat-raised-button color="accent" (click)="modalMesa()">Adicionar Mesa</button>
</header>

<div class="w-full p-5">
  <div class="w-5/6 mx-auto flex gap-20 flex-wrap">
    <ng-container *ngFor="let mesa of mesas">
      <app-mesa [mesa]="mesa" [convidados]="filterConvidados(convidados, mesa._id!)" (relistarMesas)="listarMesas()" (relistarConvidados)="listarConvidados()">
      </app-mesa>
    </ng-container>
  </div>

</div>
